* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main-container {
  width: clamp(400px, 70dvw, 85ch);
  padding-bottom: 50px;
}
#main-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fefefe;
  border: 1px solid #fefefe;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
/*Start container*/
#main-container > * *{
  text-align: center;
}
#quiz-container {
  width: 100%;
}
.welcome {
  font-size: 2.5rem;
  color: #193d72;
  margin: 10px 0;
}
#start-container > p {
  font-size: 0.9rem;
  color: #193d7299;
}
#startBtn {
  border: none;
  background-color: #2d65b9;
  font-size: 1.2rem;
  color: #eee;
  padding: 15px 40px;
  border-radius: 25px;
  transition: all 0.3s ease-in;
  cursor: pointer;
  margin: 30px 0;
}
#startBtn:hover {
  background-color: #3c76ce;
  transform: translate(0, -10%);
}

/* Quiz screen  */
#quiz-screen {
  padding-bottom: 20px;
}
#ques-indicator {
  border: none;
  width: 100%;
  padding: 10px 20px;
  margin: 2px 0 10px;
  border-radius: 15px;
  background: #8ebbee33;
  text-align: left;
  color: #193d72;
}
#question {
  font-size: 1.7rem;
  color: #193d72;
  margin-bottom: 10px;
}
#opt-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}
#opt-container > button {
  padding: 15px;
  background: #f1f3f6;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1.1rem;
}
#opt-container > button:hover {
  background: #3c76ce55;
  color: #eee;
}
.btn-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.btn-container > button {
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  color: #eee;
  background: #2d65b9;
  border-radius: 15px;
  cursor: pointer;
}
.btn-container > button:disabled {
  background: #2d65b977;
}
.btn-container > #prev {
  margin-left: 10px;
}
.btn-container > #submit {
  margin-inline: auto 20px;
}
#feedback-cntr {
  margin-top: 10px;
  height: 30px;
}
.correct-ans {
  text-align: left !important;
  font-size: 0.9rem;
  height: 30px;
  padding-left: 20px;
}
#warning {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  border-radius: 15px;
  background-color: #e9e9e9;
  z-index: 10;
  background-attachment: fixed;
}
#warning > p {
  font-size: 1.8rem;
  margin-block: 40px 30px; 
  font-weight: 500;
}
#warning > .warning-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.warning-button > button {
  margin-left: 60px;
  border: 2px solid #333;
  border-radius: 5px;
  background: transparent;
  padding: 10px 25px;
  background: #eee;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
#confirm-submit:hover {
  background: rgb(206, 39, 39, 0.9);
}
#dont-submit {
  margin-inline: auto 60px;
}
#dont-submit:hover {
    background: #ccc;
}

/* SCORE BOARD */
#score-board {
  padding-bottom: 30px;
}
#score-board h2{
  font-size: 1.4rem;
  color: #333;
  margin-top: 30px;
}
#score-board button {
  border: 1px solid #222;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.1rem;
  margin-block: 20px;
  cursor: pointer;
}
#correct-summary {
  width: 90%;
  border-radius: 10px;
  border-radius: #eee;
  margin-bottom: 30px;
}
#correct-summary  * {
  text-align: left !important;
}
#correct-summary summary {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #b5c6df55;
  padding: 10px 20px;
  color: #222d;
  list-style: none;
  position: relative;
  cursor: pointer;
}
#correct-summary summary::after {
  position: absolute;
  content: "+";
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 1.5rem;
  color: #2b64bb;
}
#correct-summary[open] summary::after {
  content: "-";
  color: rgb(173, 37, 37)
}
/* others */
#blocker {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  backdrop-filter: blur(15px);
}
.hidden {
  display: none !important;
}
.show {
  display: block;
}
.correct-option {
  background-color: rgb(20, 146, 20, 0.7) !important;
  color: #eee !important;
}
.wrong-option {
  background-color: #a52a2acc !important;
  color: #eee !important;
}
#opt-container button:disabled {
  color: #636262;
}
